/****** Element Tags ******/
body {
  margin: 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  color: #d72323;
  width: 50%;
  margin: 25px auto 0 auto;
  font-family: 'Alegreya', serif;
  font-size: 5.625rem;
  line-height: 2;
}

h2 {
 color: #d72323;
 font-family: 'Roboto', sans-serif;
 font-size: 2.5rem;
 font-weight: 200;
}

h3 {
  color: #d72323;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 20px;

}

p {
  line-height: 2;
}

a {
  color: #2f2519;
}

a:hover {
  color: #95389e;
}

/****** Class Tags ******/
.top-container {
  background-color: #e8e4e1;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  background-color: #f9c49a;
  padding-top: 100px
}

.bottom-container {
  background-color: #ec823a;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  width: 20%;
  top: 20px;
  left: 280px;
}

.bottom-cloud{
  position: absolute;
  width: 15%;
  margin: 0 -100px;
}

.profile-pic {
  width: 15%;
  height: 15%;
}

.horizontal-line {
  color: #e8e4e1;
  border-style: dotted none none;
  border-width: 8px;
  width: 4%;
  height: 0;

}

.code-icon {
  width: 25%;
  float: left;
  margin-right: 58px;
}

.iot-icon {
  width: 23%;
  float: right;
  margin-left: 0;
}

.skill-row {
  width: 50%;
  margin: 10px auto 10px auto;
  text-align: left;
  line-height: 2;
}

.skills-table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-me {
  padding-bottom: 20px;
}

.btn {
	box-shadow: 0 1px 0 0 #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ffee66;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn:active {
	position:relative;
	top:1px;
}

.footer-link {
  margin: 10px 20px;
  text-decoration: none;
}
/****** ID Tags ******/
